Node_Red Flow Export.txt
[{"id":"295602a8.ccb5ae","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"b2fca20c.4d192","type":"debug","z":"295602a8.ccb5ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":60,"wires":[]},{"id":"cb44a2a2.115b4","type":"ibmiot in","z":"295602a8.ccb5ae","authentication":"apiKey","apiKey":"e6fbc9e8.5eb688","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"URaspi","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":70,"y":280,"wires":[["98743dc3.ff8ec","77d44c34.061914","7f9b3a6e.3009f4","fafb2690.2c0358","1a270b42.db7a35","c38ea0c2.2bde3","2a172953.7e9976"]]},{"id":"98743dc3.ff8ec","type":"function","z":"295602a8.ccb5ae","name":"Ganesh","func":"msg.payload=msg.payload.d.Name\nif (msg.payload === \"Sai Ganesh\") {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":340,"y":120,"wires":[["b2fca20c.4d192","51b7af99.24233"]]},{"id":"d253a44f.39f8b8","type":"ui_chart","z":"295602a8.ccb5ae","name":"Appearances","group":"d7daef24.0078","order":0,"width":"0","height":"0","label":"Sai Ganesh","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#c70c3a","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":100,"wires":[[]]},{"id":"51b7af99.24233","type":"counter","z":"295602a8.ccb5ae","inc":1,"name":"","x":560,"y":120,"wires":[["d253a44f.39f8b8","b2fca20c.4d192"]]},{"id":"2bc2518e.b1786e","type":"debug","z":"295602a8.ccb5ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":140,"wires":[]},{"id":"77d44c34.061914","type":"function","z":"295602a8.ccb5ae","name":"Trump","func":"msg.payload=msg.payload.d.Name\nif (msg.payload === \"Trump\") {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["2bc2518e.b1786e","9b658138.43973"]]},{"id":"a8d784ef.14e228","type":"ui_chart","z":"295602a8.ccb5ae","name":"Appearances","group":"c0a8e28c.98dde","order":0,"width":"0","height":"0","label":"Trump","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":180,"wires":[[]]},{"id":"9b658138.43973","type":"counter","z":"295602a8.ccb5ae","inc":1,"name":"","x":560,"y":200,"wires":[["a8d784ef.14e228","2bc2518e.b1786e"]]},{"id":"f16b118f.bb08","type":"http response","z":"295602a8.ccb5ae","name":"","statusCode":"","headers":{},"x":690,"y":580,"wires":[]},{"id":"de2b418f.e8a0d","type":"function","z":"295602a8.ccb5ae","name":"Display","func":"msg.payload={\"Name\":global.get(\"name\")}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":580,"wires":[["f16b118f.bb08"]]},{"id":"c49655d7.e78e28","type":"http in","z":"295602a8.ccb5ae","name":"","url":"/faces","method":"get","upload":false,"swaggerDoc":"","x":220,"y":580,"wires":[["de2b418f.e8a0d"]]},{"id":"7f9b3a6e.3009f4","type":"function","z":"295602a8.ccb5ae","name":"Name Global ","func":"global.set(\"name\",msg.payload=msg.payload.d.Name)","outputs":1,"noerr":0,"x":310,"y":460,"wires":[[]]},{"id":"38470ed0.13d562","type":"function","z":"295602a8.ccb5ae","name":"No Face Detected","func":"\nglobal.set(\"name\",msg.payload=\"No Face Detected\")\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":480,"wires":[["fd34e677.b0ea48"]]},{"id":"fafb2690.2c0358","type":"stoptimer","z":"295602a8.ccb5ae","duration":"1","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":320,"y":500,"wires":[["38470ed0.13d562"],[]]},{"id":"fbf678e7.61bd78","type":"debug","z":"295602a8.ccb5ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":240,"wires":[]},{"id":"1a270b42.db7a35","type":"function","z":"295602a8.ccb5ae","name":"Obama","func":"msg.payload=msg.payload.d.Name\nif (msg.payload === \"Obama\") {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["fbf678e7.61bd78","233304e7.200acc"]]},{"id":"4a35b958.7f3e78","type":"ui_chart","z":"295602a8.ccb5ae","name":"Appearances","group":"69b86b39.5cc374","order":0,"width":"0","height":"0","label":"Obama","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#c70c3a","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":280,"wires":[[]]},{"id":"233304e7.200acc","type":"counter","z":"295602a8.ccb5ae","inc":1,"name":"","x":560,"y":280,"wires":[["4a35b958.7f3e78","fbf678e7.61bd78"]]},{"id":"804a43d3.194b9","type":"debug","z":"295602a8.ccb5ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":320,"wires":[]},{"id":"c38ea0c2.2bde3","type":"function","z":"295602a8.ccb5ae","name":"Modi","func":"msg.payload=msg.payload.d.Name\nif (msg.payload === \"Modi\") {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["804a43d3.194b9","9ba30c12.84dc6"]]},{"id":"513dda26.a0f3e4","type":"ui_chart","z":"295602a8.ccb5ae","name":"Appearances","group":"f5f50d2.03a37f","order":0,"width":"0","height":"0","label":"Modi","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"200","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#c70c3a","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":360,"wires":[[]]},{"id":"9ba30c12.84dc6","type":"counter","z":"295602a8.ccb5ae","inc":1,"name":"","x":560,"y":360,"wires":[["513dda26.a0f3e4","804a43d3.194b9"]]},{"id":"fd34e677.b0ea48","type":"debug","z":"295602a8.ccb5ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":400,"wires":[]},{"id":"2a172953.7e9976","type":"function","z":"295602a8.ccb5ae","name":"Unknown Face","func":"msg.payload=msg.payload.d.Name\nif (msg.payload ==\"Unknown Face Please Register!!!\") {\n   return msg;\n}\n\n","outputs":1,"noerr":0,"x":320,"y":400,"wires":[["fd34e677.b0ea48"]]},{"id":"e6fbc9e8.5eb688","type":"ibmiot","z":"","name":"AppRaspi","keepalive":"60","serverName":"pzqy04.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d7daef24.0078","type":"ui_group","z":"","name":"Sai Ganesh Appearances","tab":"de21d3b2.943d7","disp":true,"width":"6","collapse":true},{"id":"c0a8e28c.98dde","type":"ui_group","z":"","name":"Trump Appearances","tab":"de21d3b2.943d7","disp":true,"width":"6","collapse":true},{"id":"69b86b39.5cc374","type":"ui_group","z":"","name":"Obama Appearances","tab":"de21d3b2.943d7","disp":true,"width":"6","collapse":true},{"id":"f5f50d2.03a37f","type":"ui_group","z":"","name":"Modi Appearances","tab":"de21d3b2.943d7","disp":true,"width":"6","collapse":true},{"id":"de21d3b2.943d7","type":"ui_tab","z":"","name":"Faces","icon":"accessibility","disabled":false,"hidden":false}]